<li><a href="<%- url_for('/guide') %>" class="nav-link<%- page.path.match(/guide/) ? ' current' : '' %>">Guide</a></li>
<li><a href="<%- url_for('/api') %>" class="nav-link<%- page.path.match(/api/) ? ' current' : '' %>">API</a></li>
<li><a href="<%- url_for('/examples') %>" class="nav-link<%- page.path.match(/examples/) ? ' current' : '' %>">Examples</a></li>
